<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Ordering System</title>
</head>
<body>

    <h1>🍽 Restaurant Ordering System</h1>

    <h2>Features</h2>

    <ul>
        <li>Food Management</li>
        <li>Restaurant Tables</li>
        <li>Order Management</li>
        <li>Kitchen Dashboard</li>
        <li>Sales Report</li>
    </ul>

    <h3>Available APIs</h3>

    <p><a href="/food">View Food Menu</a></p>
    <p><a href="/orders">View Orders</a></p>
    <p><a href="/orders/report">Sales Report</a></p>
    <p><a href="/orders/kitchen">Kitchen Dashboard</a></p>
    <footer style="
    margin-top:40px;
    text-align:center;
    padding:20px;
    color:#666;
    font-size:16px;">

        <hr><br>

        🍽 <b>Hotel Paradise Restaurant Management System</b><br><br>

        Developed By <b>Sahana R</b><br>

        Spring Boot | Thymeleaf | MySQL | HTML | CSS

    </footer>

</body>
</html>